h1 {
  border-bottom: 2px solid #EFEAEA;
  color: #666666;
}

h2 {
  border-bottom: 1px solid #EFEAEA;
  font-size: 1.5em !important;
  color: #666666;
  margin-top: 2em !important;
}

td>small,
h2>small {
  font-size: 75% !important;
  font-weight: normal;
  display: block;
  color: #666666;
}

td>small:before,
h2>small:before {
  content:"[易] ";
  font-weight: bold;
  color: #666666;
}

section>*:not(h1):not(h2) {
  margin-left: 20pt;
}

section {
  margin-bottom: 8em;
}

.markdown-section table {
  width: calc(100% - 20pt) !important;
}

table>thead>tr>th:first-child {
  width: 8em;
}